@import url('https://fonts.googleapis.com/css?family=Comfortaa:300|Julius+Sans+One|Quicksand:300');

body {
    margin: 0;
}

marquee {
    /*border: 1px solid black;*/
    color: #00E4FF;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    height: 25px;
    width: 275px;
    margin-left: 12px;
    margin-top: 16px;
}

ul {
    /*border: 1px solid white;*/
    height: 40px;
    width: 400px;
    margin: 0;
    margin-left: 10px;
    margin-top: 9px;
}

li {
    margin-left: 15px;
}

a {
    color: #00E4FF;
    text-decoration: none;
}

    a:hover {
        color: black;
    }
/*-----------------------------------------------------------------------------*/
#nav-bar-bg {
    background-color: #4D4D4D;
    border: 1px solid black;
    height: 80px;
    width: 100%;
}

#navHeader {
    border-left: 2px solid #00E4FF;
    float: left;
    height: 60px;
    margin-left: 15px;
    margin-top: 8px;
    width: 500px;
}
/*li's id for css */
#navMenu {
    /*border: 1px solid #00E4FF;*/
    color: #00E4FF;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    float: left;
    list-style-type: none;
    margin-top: 5px;
}


#textSlider {
    background-color: #FFF;
    border: 2px outset #00E4FF;
    border-radius: 9px;
    float: left;
    height: 60px;
    margin-left: 40px;
    margin-top: 8px;
    width: 300px;
}
